[Unit]
Description=Conan Exiles backup.
Requires=conan_exiles_backup.timer
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/tar -cvJf "{{ conan_exiles__cfg._backup_d }}/$(date --iso-8601).tar.xz" "{{ conan_exiles___app._save_d }}" "{{ conan_exiles___app._mod_d if conan_exiles_flg_backup else '' }}"'
WorkingDirectory={{ conan_exiles___app._root_d }}
User={{ steam__ctx._user }}
Group={{ steam__ctx._group }}

[Install]
WantedBy=multi-user.target